<container>
  <div class="container pt-5">
    <h2 class="admin-heading">Admin-Login</h2>
    <form class="mx-1 mx-md-4" action="/signup" method="post">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter name"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="pwd"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <div class="checkbox">
        <label><input type="checkbox" /> Remember me</label>
      </div>
      <a href="/login">already have an account</a>
      <button type="submit" class="btn btn-success">Signup</button>
    </form>
  </div></container>
